<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Beautiful javascript charting</h1>
    <p>Those are two examples to demonstrate that data could become art</p>
  </div>
  <div>
    <gal-devo-file-selector files="$ctrl.files"
                            on-files-changed="$ctrl.onFilesChanged($event)"></gal-devo-file-selector>
  </div>
  <gal-devo-hc-line-basic data="$ctrl.dataLineBasic"
                          title="'First Chart'"
                          config="$ctrl.dataLineBasicConfiguration">
  </gal-devo-hc-line-basic>
  <gal-devo-hc-pie  data="$ctrl.dataPie"
                    title="'Second Chart'"
                    config="$ctrl.dataPieConfiguration">
  </gal-devo-hc-pie>
</div>
