<div class="panel panel-default">
  <div class="panel-heading">File Selector</div>
  <div class="panel-body">
    <form>
      <div class="form-check" ng-repeat="dataEl in $ctrl.files">
        <input class="form-check-input" id="{{'file-' + $id}}" type="checkbox" ng-model="dataEl.status" ng-click="$ctrl.doOnChecked($ctrl.files)"/>
        <label class="form-check-label" for="{{'file-' + $id}}">{{ dataEl.name }}</label>
      </div>
    </form>
  </div>
</div>
