
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GAL DEVO Charts</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#!/main">Charts</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
